<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    {{#is "home, paged"}}
    <meta name="description" content="{{@blog.description}}">
    {{else}}
    <meta name="description" content="{{meta_description}}">
    {{/is}}

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-57x57.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-60x60.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-72x72.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-76x76.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-114x114.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-120x120.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-144x144.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-152x152.png?v=0.6.0.0">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.sameroom.io/img/favicon/apple-touch-icon-180x180.png?v=0.6.0.0">
    <link rel="icon" type="image/png" href="https://cdn.sameroom.io/img/favicon/favicon-32x32.png?v=0.6.0.0" sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.sameroom.io/img/favicon/android-chrome-192x192.png?v=0.6.0.0" sizes="192x192">
    <link rel="icon" type="image/png" href="https://cdn.sameroom.io/img/favicon/favicon-96x96.png?v=0.6.0.0" sizes="96x96">
    <link rel="icon" type="image/png" href="https://cdn.sameroom.io/img/favicon/favicon-16x16.png?v=0.6.0.0" sizes="16x16">
    <link rel="manifest" href="https://cdn.sameroom.io/img/favicon/manifest.json?v=0.6.0.0">
    <link rel="shortcut icon" href="https://cdn.sameroom.io/img/favicon/favicon.ico?v=0.6.0.0">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="https://cdn.sameroom.io/img/favicon/mstile-144x144.png?v=0.6.0.0">
    <meta name="msapplication-config" content="https://cdn.sameroom.io/img/favicon/browserconfig.xml?v=0.6.0.0">
    <meta name="theme-color" content="#ffffff">

    {{#is "home, paged"}}
    <meta property="og:title" content="Sameroom unifies chatrooms">
    <meta property="og:image" content="https://cdn.sameroom.io/img/sameroom-og-image.png?v=0.6.0.0">
    <meta property="og:site_name" content="Sameroom">
    <meta property="og:description" content="{{@blog.description}}">
    {{/is}}

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "lightbox2/css/lightbox.css"}}" />
    <style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Slab:700&subset=latin,cyrillic);</style>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="bodyWrap">
        <div class="leftCol">
            {{> headerContent}}
        </div>
        <div class="mainCol">
            {{! Everything else gets inserted here }}
            {{{body}}}
        </div>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "lightbox2/js/lightbox.js"}}"></script>

</body>
</html>